# this file prevents accidental upload of files to git

# ignored files
.idea
config.py
*.db
*.session
*.session-journal
*.log
.env
./.env
tests.py
*.json
*.py[cod]
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
coverage.xml

# platform cruft
.DS_Store
Thumbs.db

# ignored directories
.idea/
__pycache__
./__pycache__
user_data/
.venv/
user_data_backup/
.pytest_cache/
